<div class="container">
  <h1>いいね一覧</h1>
  <div class="row">
    <table class="table">
      <%  @like_items.each do |like| %>
      <tr>
        <td>
          <%= link_to public_item_path(like.id) do %>
            <%= like.name %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
