<div class="cotainer">

<h2>アニメ一覧</h2>
<%= form_with model: @item,url: admin_items_path do |f| %>
  <div class="row">
    <table>
      <tr>
        <td>
          
        </td>
      </tr>
    </table>
  </div>
<% end %>
</div>
