<div class="container">
  <h1>会員一覧</h1>
  <div class="row">
    <table>
      <thead>
        <tr class="border-top border-bottom">
          <th width="500">氏名</th>
          <th width="250">メールアドレス</th>
          <th width="150">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr class="border-top border-bottom">
          <td>
            <%= customer.name %>
          </td>
          
          <td>
            <%= customer.email %>
          </td>
          
          <td>
            <% if customer.is_deleted == false %>
              <%= link_to  admin_path(customer), method: :patch, data: { confirm: "本当に退会させますか？" } do %>
                <h3 class="btn btn-success">退会する</h3>
              <% end %>
            <% else %>
              退会
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @customers %>
  </div>
</div>